/*
  NAME: Pearl Chen
  CS 132 Spring 2023
  DATE: May 9, 2023

  All keyframe animations for every CSS animation used in every view in index.html
*/

/* Common animations */
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-300svw, 0, 0);
  }
}

/* In-game animations */
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 0.7, 1);
  }
  100% {
    transform: translate3d(0, -120%, 0) scale3d(1, 1.1, 1);
  }
}

@keyframes walk {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -10%, 0);
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
