/*
  NAME: Pearl Chen
  CS 132 Spring 2023
  DATE: May 9, 2023

  Style page for index.html applicable to all views, also has common animation elements
*/

/* Silkscreen, Designed by Jason Kottke, Regular400 & Bold700 */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
/* Foldit, Light 300 */
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@300&display=swap");
/* Press Start 2P, Regular 400 */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    padding: 0;
    overflow: hidden;
    background-size: 300svw 100svh;
    height: 100svh;
}

body,
h1,
h3 {
    margin: 0;
}

* {
    font-family: "Silkscreen", "Courier New", Courier, monospace;
    font-weight: 400;
    color: rgb(45, 108, 133);
    text-align: center;

    /* No selection highlight */
    /* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */

    /* for crisp pixel art upon resize */
    /* Source: https://css-tricks.com/almanac/properties/i/image-rendering/ */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

header,
section,
.bg.sliding-layer {
    position: absolute;
}

main,
header,
div,
section,
form,
#login-window,
#popup-window,
form label,
#user-info,
#users-list > div {
    display: flex;
}

li {
    text-align: left;
}

main,
#music-toggle {
    height: 100%;
}

.add-friends-page {
    justify-content: space-evenly;
    height: 80%;
    margin: 50px;
}

#user-info > img {
    width: 30%;
}

main,
div,
section,
form,
#login-window,
#popup-window {
    align-items: center;
    justify-content: center;
}

header {
    top: 15px;
    left: 10px;
    height: 40px;
    align-items: stretch;
    z-index: 1;
}

header * {
    margin-left: 10px;
}

h1,
h3 {
    text-transform: uppercase;
    font-family: "Foldit", sans-serif;

    /* Making the text have a gradient clipping mask fill */
    /* Source: https://cssgradient.io/blog/css-gradient-text/ */
    background: -webkit-linear-gradient(rgb(255, 249, 249) 5%, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 35svh;
    letter-spacing: 2rem;
}

/* h2 {
    color: aliceblue;
} */

button,
#sound-menu * {
    color: blanchedalmond;
}

button,
#music-toggle {
    cursor: pointer;
}

#music-toggle {
    width: 47.26px;
    background-image: url(../media/music-on-button.png);
    background-size: 47.26px;
    background-repeat: no-repeat;
}

#music-toggle.muted {
    background-image: url(../media/music-off-button.png);
}

button {
    background-color: rgb(60, 134, 156);
    border: none;
    padding: 7px 10px;
    margin: 20px;
}

button:hover {
    color: white;
    background-color: rgba(141, 202, 252);
}

section,
#login-window > form,
form label,
#user-info > div,
#users-list {
    flex-direction: column;
}

#user-info,
#users-list > div {
    flex-direction: row;
}

#users-list > div {
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 90%;
    height: 70%;
}

#users-list article {
    width: 200px;
    margin: 10px;
}

#users-list article > img {
    width: 100%;
}

section,
.bg.sliding-layer {
    top: 0;
}

section {
    height: 100lvh;
    width: 100lvw;
}

/* Log-in window */
#login-window,
#popup-window {
    background-color: rgba(235, 235, 235, 0.5);
}

#login-window > form,
.add-friends-page {
    background-color: rgba(248, 248, 248, 0.8);
    border-radius: 10px;
}

form {
    padding: 5svh 10lvw 3svh;
}

form label {
    margin-bottom: 15px;
}

.foreground {
    position: relative;
    z-index: 2;
}

/* animation made for images 3x screen width to loop */
.sliding-layer {
    animation: slide linear;
}

.bg.sliding-layer {
    background-repeat: repeat-x;
    left: 0;
    width: 600svw;
    height: 100svh;
    z-index: 0;
    background-size: 300svw;
    background-position: 0% 100%;
    animation-iteration-count: infinite;
}

/* small faraway background mountains */
.sliding-layer:first-child {
    background-position: 55% 100%; /* starting on my fav part of the drawing */
    background-size: 310svw;
    animation-duration: 200s;
}

.hidden {
    /* the only important!!! to override id's and all other selectors' display values */
    display: none !important;
}
