/*
  NAME: Pearl Chen
  CS 132 Spring 2023

  Style page mostly for positioning in index.html
*/

body {
    margin: 0 50px;
    min-height: 100svh;
}

section,
form,
.filter-item {
    display: flex;
}

section,
.filter-item {
    flex-direction: column;
    align-items: center;
}

form,
#avg-face {
    flex-direction: row;
}

section {
    margin-bottom: 50px;
}

.filter-item {
    margin: 10px;
}

#avg-face {
    justify-content: center;
    flex-wrap: wrap;
}

#message,
figcaption {
    text-transform: capitalize;
}

#avg-face img,
figcaption {
    width: 200px;
}

figcaption {
    text-align: center;
}

#ideas > h3 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}
