/*
  NAME: Pearl Chen
  CS 132 Spring 2023

  Style page mostly for positioning in index.html
*/

body {
    margin: 0 100px;
    min-height: 100svh;
}

section,
form,
.filter-item {
    display: flex;
}

section,
.filter-item {
    flex-direction: column;
    align-items: center;
}

form {
    flex-direction: row;
}

section {
    margin-bottom: 50px;
}

.filter-item {
    margin: 10px;
}

#avg-face {
    justify-content: center;
}

#name,
#message {
    /* text-transform: capitalize; */
}

#avg-face > img {
    height: 500px;
    margin-right: 75px;
}

#ideas > h3 {
    margin-bottom: 0;
}

.hidden {
    display: none;
}
